@import 'theme';
.light {
  .state-canceled, .state-inactive {
    background: $color-error;
  }
  .state-option {
    background: $color-warning;
  }
  .state-confirmed, .state-active {
    background: $color-success;
  }
}