// only variables colors
$light-color: #ffffff;
$dark-color: #424242;
$color1: #70148b;
$color2: #70148b;
$color-info: #05cad1;
$color-warning: #f77e2e;
$color-error: #e2445c;
$color-success: #00c875;
