@import 'fonts';
@import 'theme';
app-text-pages {
  h1 {
    font-size: $h1-fz;
    color: $color1;
  }
  h2 {
    font-size: $h2-fz;
    color: $color1;
  }
  h3 {
    font-size: $h3-fz;
    color: $color1;
  }
  p, a, span, li {
    font-size: $regular-fz;
    color: $dark-color
  }
}
// colors
// app-text {
//   .white {
//     h1 {
//       color: $light-color;
//     }
//     h2 {
//       color: $light-color;
//     }
//     h3 {
//       color: $light-color;
//     }
//     p, a, span, li {
//       color: $light-color
//     }
//   }
// }
